@font-face {
	font-family: Megrim;
	src: url("fonts/Megrim.ttf");
}

@font-face {
	font-family: JS-regular;
	src: url("fonts/JosefinSans-Regular.ttf");
}

@font-face {
	font-family: JS-sbold;
	src: url("fonts/JosefinSans-SemiBold.ttf")
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: JS-regular, sans-serif;
	font-size: 20px;
	color: #212121;
}

#header h1 {

	font-family: Megrim, sans-serif;
	font-size: 50px;
	color: #FF5252;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 20px;
}

#header h1 img {
	height: 80px;
	margin-left: 10px;
}

#main {
	margin-left: 20px;
}

#main h3 {
	font-family: JS-sbold, sans-serif;
	color: #2196F3;
	margin-bottom: 15px;
	font-weight: normal;
}

#main form table tr td {
	padding-right: 20px;
	padding-bottom: 5px;
}

#main form input #sub {
	padding-left: 30px;
}

#main .minutes {
	color: #1976D2;
}

#main #advanced h3, #main #dgn h3, #main #panel h3{
	margin-top: 30px;
}

#main #advanced h3:hover, #main #dgn h3:hover {
	color: #FF5252;
	cursor: pointer;
}

#main #adv-settings, #main #diagnostics, #main #log {
	display: none;
}

#main form input {
	font-size: 20px;
	font-family: JS-regular, sans-serif;
	padding: 5px;
}

#main #panel a {
	text-decoration: none;
	color: #2196F3;
}

#main #panel a:hover {
	color: #FF5252;
}

#main #diagnostics #showtime {
	color: #FF5252;
	margin-left: 10px;
}

.red {
	color: #FF5252;
}

.sub {
	margin-top: 20px;
	font-size: 20px;
	font-family: JS-regular, sans-serif;
	color: #1976D2;
	border-radius: 20px;
	border: 2px solid #1976D2;
	background-color: #FFFFFF;
	padding: 7px;
}

.sub:hover {
	color: #FF5252;
	border: 2px solid #FF5252;
	cursor: pointer;
}

.plain {
	font-family: JS-reguari, sans-serif;
	font-size: 20px;
	color: #1976D2;
	border: none;
	background-color: #FFFFFF;
}

.plain:hover {
	color: #FF5252;
	cursor: pointer;
}

.saved {
    margin-top: 20px;
	color: #FF5252;
}

.phantom {
	display: none;
}
