@font-face {
	font-family: Megrim;
	src: url("fonts/Megrim.ttf");
}

@font-face {
	font-family: JS-regular;
	src: url("fonts/JosefinSans-Regular.ttf");
}

@font-face {
	font-family: JS-sbold;
	src: url("fonts/JosefinSans-SemiBold.ttf");
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: JS-regular, sans-serif;
	font-size: 20px;
	color: #212121;
}

#header a {
	text-decoration: none;
}

#header h1 {
	font-family: Megrim, sans-serif;
	font-size: 50px;
	color: #FF5252;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 20px;
}

#header h1 img {
	height: 80px;
	margin-left: 10px;
}

#main {
	margin-left: 20px;
}

#main h3 {
	font-family: JS-sbold, sans-serif;
	color: #FF5252;
	font-size: 25px;
	margin-bottom: 15px;
	font-weight: normal;
}

#main h4 {
	font-family: JS-sbold, sans-serif;
	color: #2196F3;
	font-size: 20px;
	font-weight: normal;
}

#footer a {
	margin-left: 20px;
	font-size: 15px;
	color: #FF5252;
	text-decoration: none;
}

#footer a:hover {
	color: #1976D2;
}
